.ineficiencia {
  color: #dc3545; /* Vermelho Bootstrap */
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

hr {
  border-top: 1px solid #ccc;
}

body {
  background-color: #f8f9fa; /* cinza claro */
}
